<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768109040765-nd0pq4ullbn1rva944ip5fg64g35v4cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768109040765-nd0pq4ullbn1rva944ip5fg64g35v4cm</string>
	<key>API_KEY</key>
	<string>AIzaSyDUZydB-kcCwQHY4KvKi5cspTBX6ML7VHs</string>
	<key>GCM_SENDER_ID</key>
	<string>768109040765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolo</string>
	<key>PROJECT_ID</key>
	<string>tolo-1a943</string>
	<key>STORAGE_BUCKET</key>
	<string>tolo-1a943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768109040765:ios:8e7c726bc303d86b124d14</string>
</dict>
</plist>